<div>
  <h2>Search Studio</h2>

  <form [formGroup]="studioForm" (ngSubmit)="search(studioForm)">
    <input formControlName="studioName" placeholder="Studio Name" required>
    <input formControlName="localDate" placeholder="Date" required>  
    <button type="submit">Search</button>
    <button (click)="reset()">Reset</button>
  </form>
  <hr />
  <div *ngIf="studioDetails || showSlotForm">
    <form [formGroup]="slotsForm">
      <input formControlName="startTime" placeholder="Start Time" required>
      <input formControlName="endTime" placeholder="End Time" required> 
      <input formControlName="faculty" placeholder="Faculty" required>
      <input formControlName="assignerName" placeholder="Assigner Name" required>
      
      <!-- TODO: support for adding multiple time slots -->

      <!-- <button type="submit">Add </button> -->
    </form>
    <br />
    <button (click)="createStudio(studioForm,slotsForm, showSlotForm)">{{showSlotForm ? 'Create Studio': 'Update Studio'}}</button>
  </div>
  
  <div *ngIf="searchSubmitted && noSchedules && !showSlotForm">
    This Studio Name / Date doesn't exist.
    <button (click)="displaySlot()">Create New Studio</button>
  </div>
</div>

<div *ngIf="displayError">
  <h2>An error occured.</h2>
</div>
